* {
  text-align: center;
}
.imgForm {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px black;
  width: 15%;
  margin: auto;
  padding: 20px;
}
input {
  margin-bottom: 20px;
}
/*tbody {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}*/

#friendlist {
  border-collapse: collapse;
  width: 100%;
}
#friendlist td,
#friendlist th {
  border: 1px solid white;
  padding: 8px;
}
#friendlist tr:nth-child(even) {
  background-color: aliceblue;
}
#friendlist tr:hover {
  background-color: aliceblue;
}
#friendlist th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: chartreuse;
  color: aliceblue;
}
